<div class="card m-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Rating: <%= review.rating %></h5>
    <%# <h6 class="card-subtitle mb-2 text-muted"></h6> %>
    <p class="card-text"><%= review.content %></p>
  </div>
</div>
