<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
  <div class="card my-3">
    <div class="card-body" style="width: 18rem;">
      <h5 class="card-title">Rating: <%= review.rating %></h5>
      <%# <h6 class="card-subtitle mb-2 text-muted"></h6> %>
      <p class="card-text"><%= review.content %></p>
    </div>
  </div>
</div>
